<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a67yjh00.com.example.lg.scheme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPagerAdapter" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Fragment.HomeFragment" />
        <activity android:name=".Fragment.TtFragment" />
        <activity android:name=".Fragment.TdFragment" />
        <activity android:name=".Fragment.CalFragment" />
        <activity android:name=".Fragment.MpFragment" />
    </application>

</manifest>